spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/realeye?useSSL=false&characterEncoding=utf8
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  data:
    solr:
      host: http://localhost:8983/solr/realeye
mybatis-plus:
  global-config:
    db-config:
      id-type: auto
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
