<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realeye.backend.mapper.APIKeyMapper">
  <resultMap id="BaseResultMap" type="com.realeye.backend.entity.APIKey">
    <!--@mbg.generated-->
    <!--@Table apikey-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="apikey" jdbcType="VARCHAR" property="apikey" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="active" jdbcType="BOOLEAN" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, username, apikey, create_time, expire_time, active
  </sql>
</mapper>